# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle/
.idea/
build/
out/
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

